/* InventoryManagement.module.css */

.mainContent {
    padding: 2rem;
    background-color: #f5f5f5;
    color: #333;
    font-family: "IRANSans", sans-serif;
    direction: rtl;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
  }
  
  .button {
    width: 10%;
    padding: 10px;
    background-color: #71a744;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #71a744e1;
  }
  
  .servicesList {
    list-style-type: none;
    padding: 0;
  }
  
  .serviceItem {
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .serviceItem span{
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    direction: rtl;
  }
  .serviceItem button {
    margin-left: 0.5rem;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  .editButton{
    background-color: #fa944b;
  }
  .editButton:hover{
    background-color: #fa944bd2;
  }
  .deleteButton{
    color: #fa4e4b;
    background-color: unset;
    font-size: 35px;
   }
   .deleteButton:hover{
     color: #fa4e4bd2;
     background-color: unset;
   }